language: php

php:  
  - 7.2
  - 7.3
  - 7.4
  - nightly

before_install:
  - export PHPCS_DIR=/tmp/phpcs
  - export PHPCOMPAT_DIR=/tmp/PHPCompatibility
  - export PHPSTAN_DIR=/tmp/PHPSTAN
  - git clone -b master --depth 1 https://github.com/squizlabs/PHP_CodeSniffer.git $PHPCS_DIR
  #- git clone -b master --depth 1 https://github.com/wimg/PHPCompatibility.git $PHPCOMPAT_DIR
  - git clone -b master --depth 1 https://github.com/phpstan/phpstan.git $PHPSTAN_DIR
  
  # Set install path for PHP Compatibility Standard.
  # @link https://github.com/squizlabs/PHP_CodeSniffer/wiki/Configuration-Options#setting-the-installed-standard-paths
  - $PHPCS_DIR/bin/phpcs --config-set installed_paths $PHPCOMPAT_DIR
  # After CodeSniffer install you should refresh your path.
  - phpenv rehash


script: phpunit

# Run test script commands.
# All commands must exit with code 0 on success. Anything else is considered failure.#
#script:
  # Search for PHP syntax errors.
#  - find -L . -name '*.php' -print0 | xargs -0 -n 1 -P 4 php -l
  # Run PHPCS.
  # If the custom ruleset is named `.phpcs.xml`, `phpcs.xml`, `.phpcs.xml.dist` or `phpcs.xml.dist`
  # and, like the travis script, is in the root of the project, you can leave
  # out the `--standard=` part of the command.
#  - $PHPCS_DIR/bin/phpcs . --standard=./custom-ruleset.xml; fi
  
jobs:
  allow_failures:
    - php: nightly

  include:
    - stage: Metrics and quality
      php: 7.2
      env: CODE_STANDARD
      script:
        - $PHPCS_DIR/bin/phpcs .

    - stage: Metrics and quality
      env: PHPSTAN
      script:
        - $PHPSTAN_DIR/phpstan . 